@font-face {
  font-family: "NanumSquareNeo";
  src: url("../public/font/NanumSquareNeoTTF-aLt.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../public/font/NanumSquareNeoTTF-cBd.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../public/font/NanumSquareNeoTTF-eHv.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

* {
  font-family: "NanumSquareNeo";
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #e0e0e0;
  max-width: 444px;
  margin: 0 auto;
}
.button {
  min-width: 5rem;
  padding: 1rem 1.5rem;
  display: flex;
  text-align: center;
  border-radius: 2rem;
  color: #222;
  background: #e0e0e0;
  box-shadow: 1rem 1rem 3rem #bebebe, -1rem -1rem 3rem #ffffff;
}
.button div {
  width: 100%;
  text-align: center;
}

.button:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 1rem 1rem 3rem #bebebe, -1rem -1rem 3rem #ffffff;
}

svg {
  padding-top: 0.1rem;
}

.forU.button {
  justify-content: center;
}

.forU {
  margin-top: 3rem;
  height: 3.5rem;
  border-radius: 99px;
  outline: none;
  border: none;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}
.forU:hover {
  background-color: #444;
}

.disalbed.forU {
  background-color: #444 !important;
}

.loader {
  width: 1rem;
  height: 1rem;
  border: 1px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
