@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "GmarketSans";
  margin: 0;
  padding: 0;
}
body {
  background-color: #e0e0e0;
  max-width: 444px;
  margin: 0 auto;
}
.button {
  min-width: 5rem;
  padding: 1rem 1.5rem;
  display: flex;
  text-align: center;
  border-radius: 2rem;
  color: #222;
  background: #e0e0e0;
  box-shadow: 1rem 1rem 3rem #bebebe, -1rem -1rem 3rem #ffffff;
}
.button div {
  width: 100%;
  text-align: center;
}

.button:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 1rem 1rem 3rem #bebebe, -1rem -1rem 3rem #ffffff;
}
